numpy==1.23.2
pydantic==1.9.2
openseespy==3.7.1.2
pandas==2.3.0
h5py==3.13.0
PyYAML==6.0.2
scipy==1.15.3
pyparsing==3.0.9

# Otional
matplotlib==3.5.3


cycler==0.11.0
fonttools==4.37.1
joblib==1.1.0
kiwisolver==1.4.4
packaging==21.3
Pillow==9.2.0
python-dateutil==2.8.2
pytz==2022.2.1
scikit-learn==1.1.2
six==1.16.0
threadpoolctl==3.1.0
typing_extensions==4.3.0